.about-us__container {
  @media screen and (min-width: 769px) {
    display: flex;
    margin-left: 0;
    width: 690px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 56px;
    width: 980px;
  }
}

.about-us__image {
  width: 100%;
  height: 300px;
  background-image: url(../images/about-us/mobile/pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/about-us/mobile/pic@2x.png);
  }

  @media screen and (min-width: 769px) {
    width: 330px;
    height: 352px;
    background-image: url(../images/about-us/tablet/pic.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about-us/tablet/pic@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 512px;
    height: 547px;
    background-image: url(../images/about-us/desktop/pic.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about-us/desktop/pic@2x.png);
    }
  }
}

.about-us__description {
  @media screen and (min-width: 769px) {
    width: 336px;
    margin-left: 24px;
  }

  @media screen and (min-width: 1280px) {
    width: 392px;
    margin-top: 67px;
    margin-left: 76px;
  }
}

.about-us__title {
  margin-bottom: 0;
  @media screen and (min-width: 769px) {
    text-align-last: left;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
  }
}

.about-us__text {
  width: 100%;
}

.about-us__text + .about-us__text {
  margin-top: 20px;
}
