.page-menu{
    color: var(--main-text-color);
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.22;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}