.backdrop {
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opasity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-modal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  padding: 30px 65px;
  transform: translate(-50%, -50%) scale(1);
  background-color: rgba(254, 243, 228, 0.9);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opasity 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.backdrop.is-hidden .menu-modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.menu-modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  right: 26px;
  top: 14px;
  border: none;
  background-color: transparent;
  transition: fill var(--animation);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.menu-modal__close {
  @media screen and (min-width: 768px) {
    right: 80px;
    top: 26px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    .menu {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      padding-top: 25px;
      height: 100vh;
      width: 100vw;
    }
  }
}

.page-menu {
  color: var(--main-text-color);
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.22;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  &:hover {
    color: #876655;
  }
}

.logo-menu {
  margin-bottom: 40px;
  width: 100%;
}

.menu-donat {
  padding-bottom: 45px;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .menu {
    text-align: center;
  }
}
