.backdrop {
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opasity 250ms var(--animation);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-modal {
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 796px;
    padding: 48px 40px;
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(254, 243, 228, 0.9);

    transition: transform 250ms var(--animation) opasity 250ms var(--animation);
  }
}
.backdrop.is-hidden .menu-modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}
.menu-modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms var(--animation);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1199px) {
  .menu-modal__close {
    display: none;
  }
}

.menu-contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 25px;
  height: 100vh;
  width: 100vw;
}
@media screen and (max-width: 1199px) {
  .menu-contact {
    height: 100vh;
    width: 100vw;
  }
}

.menu-button {
  position: absolute;
  width: 30px;
  top: 20px;
  right: 21px;
  height: 30px;
  border-radius: 50%;
  background: #fef3e4;
  border: 1px solid rgba(254, 243, 228, 0.9);
}

.page-menu {
  color: var(--main-text-color);
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.22;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.logo-menu {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .menu-donat {
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 769px) {
  .menu-donat {
    padding-bottom: 40px;
  }
}

.mobile-icon {
  position: absolute;
  cursor: pointer;
  right: 5%;
}
