.program {
	padding-bottom: 26px;
	padding-left: 15px;
  }
  
  // .program__container{
  
  // }
  
  // .program__description {
  // }
  
  .program__title {
	font-family: "Caveat Brush", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 2.71;
	text-align: center;
	margin-bottom: 0;
	color: var(--main-text-color);
  }
  
  .program__text {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.25;
	color: var(--main-text-color);
  }
  
  .program__text--upper {
	margin-bottom: 10px;
  }
  
  .program__text--below {
	margin-top: 20px;
	margin-bottom: 0;
  }
  
  .program-description__item {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.25;
	color: var(--main-text-color);
  }
  
  .program-description__item:not(:last-child) {
	padding-bottom: 10px;
  }
  
  .program-description {
	margin-bottom: 10px;
  }
  
  .program__button {
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	font-family: Caveat Brush;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 3.61;
	text-align: center;
	cursor: pointer;
	color: var(--button-second-color);
  }
  
  
  
  
  
  
  
  