.registration__frame {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 510px;
  min-height: 290px;
  padding: 15px 12px 34px 12px;
  margin-left: auto;
  margin-right: auto;
  background: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 0px 0px 150px;
  transform: rotate(90deg);

  @media screen and (min-width: 480px) {
    width: 290px;
    height: 510px;
  }
  @media screen and (min-width: 656px) {
    display: flex;

    flex-direction: row;
    width: 634px;
    height: 260px;
    padding: 54px 21px 54px 35px;
    background: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
    transform: rotate(0);
  }
}

.rotate {
  text-align: center;
  transform: rotate(270deg);
  @media screen and (min-width: 656px) {
    display: flex;
    justify-content: space-between;
    transform: rotate(360deg);
  }
}

.registration-text__one,
.registration-text__two {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--main-text-color);
  @media screen and (min-width: 656px) {
    text-align: right;
  }
}
.registration-text {
  @media screen and (min-width: 656px) {
    margin-right: 30px;
  }
}
.registration-text::after {
  content: '';
  width: 100%;
  margin-top: 20px;
  border: 1px solid rgba(171, 129, 108, 0.5);
  @media screen and (min-width: 656px) {
    width: 190px;
    margin-left: 30px;
    transform: rotate(90deg);
  }
}

.registration-text__one {
  max-width: 118px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 24px;
  @media screen and (min-width: 656px) {
    margin-bottom: 34px;
  }
}
.registration-text__two {
  margin-top: 0;
  margin-bottom: 22px;
}
.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 0;
}
.registration-form::before {
}
.registration-form__join {
  max-width: 220px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.section-title--mobile {
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.section-title--tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.registration-form__input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  margin-top: 0;
  padding-bottom: 2px;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ab816c;
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .registration-form__input:not(:last-child) {
    margin-bottom: 15px;
  }
}

.registration-form__input:-webkit-autofill,
.registration-form__input:-webkit-autofill:hover,
.registration-form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: currentColor;
}
.registration-form__input:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}
.registration-form__input:focus::placeholder {
  color: var(--accent-color);
}
.registration-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}
.btn {
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}
