// Изменение в ссылках
%link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

// Точки и отступы в списках ul
%list {
  padding: 0;
  margin: 0;

  list-style: none;
}
// Контейнер

%container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
