.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  &__item + &__item {
    margin-left: 2px;
  }
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 30px;
  border-radius: 50%;

  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 40px;
  }
}

.social-icons__icon {
  width: 15px;
  height: 15px;
  fill: var(--icons-color);
  transition: fill var(--animation);

  @media screen and (min-width: 1200px) {
    width: 19px;
    height: 19px;
  }

  .social-icons__link:hover &,
  .social-icons__link:focus & {
    fill: var(--accent-color);
  }
}

.social-icons__icon--first {
  width: 20px;

  @media screen and (min-width: 1200px) {
    width: 24px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 65px;

  &__item + &__item {
    margin-left: 2px;
  }
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 30px;
  border-radius: 50%;

  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 40px;
  }
}

.social-icons__icon {
  width: 15px;
  height: 15px;
  fill: var(--icons-color);
  transition: fill var(--animation);

  @media screen and (min-width: 1200px) {
    width: 19px;
    height: 19px;
  }

  .social-icons__link:hover &,
  .social-icons__link:focus & {
    fill: var(--accent-color);
  }
}

.social-icons__icon--first {
  width: 20px;

  @media screen and (min-width: 1200px) {
    width: 24px;
  }
}

.social--list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  @media screen and (min-width: 480px) {
    margin-top: 45px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 80px;
    justify-content: start;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 65px;
    margin-bottom: 56px;

    justify-content: start;
  }
}

.social-icons__link--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 16px;

  &:not(:last-child) {
    margin-right: 6px;
  }

  @media screen and (min-width: 768px) {
    
    &:not(:last-child) {
      margin-right: 8px;
    }
    width: 18px;
    height: 16px;
  }
  @media screen and (min-width: 1200px) {
    width: 24px;
    height: 15px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
