 <section class="contact container" id="">
      
        <h2 class="section-title">Contact</h2>
        <form class="contact-form">

          <p class="contact-form__title">We will answer any question!</p>

          <input class="contact-form__input" type="text" name="E-mail" placeholder="Email">
          <textarea class="contact-form__textarea" name="comment" rows="1" placeholder="Type your question"></textarea>

          <button class="btn" type="submit">Send</button>
        </form>
     
    </section>
  