<section class="footer container" id="">
      <ul class="social">
        <li class="social__item">
          <a  class="social-icons__link" href="https://twitter.com/Twitter/?lang=en" target="_blank" rel="noopener noreferrer">
            <svg class="social-icons__icon social-icons__icon--first">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a  class="social-icons__link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <svg class="social-icons__icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a  class="social-icons__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
            <svg class="social-icons__icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="address">
        <li class="address__item">
          <a href="tel:+19102228855" class="address__link">
            <svg class="address__icon" width="15" height="15">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>(910)222-8855</a>
        </li>
        <li class="address__item">
          <a class="address__link" href="https://goo.gl/maps/mperNteZij2JEf1u7" target="_blank" rel="noopener noreferrer">
            <svg class="address__icon" width="15" height="15">
              <use href="./images/sprite.svg#icon-location"></use>
            </svg>New York</a>
        </li>
      </ul>
</section>
