<div class="backdrop is-hidden" data-modal>
  <div class="menu-contact">
    <svg width="190px" height="85px" class="logo-menu" aria-label="logo-menu">
      <use class="logo" href="./images/sprite.svg#icon-logo"></use>
    </svg>

    <div class="menu-conteiner" id="menu-conteiner" data-menu>
      <ul class="menu">
        <li class="menu-donat">
          <a href="#about-us" class="page-menu">About us</a>
        </li>
        <li class="menu-donat">
          <a href="#program" class="page-menu">Program</a>
        </li>
        <li class="menu-donat">
          <a href="#reviews" class="page-menu">Reviews</a>
        </li>
        <li class="menu-donat">
          <a href="#contacts" class="page-menu">Contacts</a>
        </li>
      </ul>
    </div>
  </div>

  <button data-modal-close type="button" class="menu-button">
    <svg width="18px" height="18px" class="close" aria-label="close">
      <use class="icon-menu" href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
</div>
