
 
   <div class="mobile-menu">
    <div class="menu-conteiner" id="menu-conteiner" data-menu>
   <svg width="190px" height="85px"
   class="donat"
   aria-label="logo donat">
     <use class="menu-icon" href="./images/sprite.svg#icon-logo"></use>
   </svg>

    <ul class="menu">
      <li class="memu-donat"><a href="./about-us.html">About us</a></li>
      <li class="memu-donat"><a href="./program.html">Program</a></li>
      <li class="memu-donat"><a href="./reviews.html">Reviews</a></li>
      <li class="memu-donat"><a href="./contact.html">Contacts</a></li>
    </ul>
   </div>

    <button type="button" 
    class="menu-buttom is-open" 
    aria-expanded="false" 
    aria-controls="menu-conteiner"
    data-menu-button="">
      <svg width="18px" height="18px" 
      class="mobile-icon"
      aria-label="переключатель мобільного меню">
          <use class="icon-close" href="./images/sprite.svg#icon-menu"></use>
          <use class="icon-menu" href="./images/sprite.svg#icon-close"></use>
        </svg>
    </button>
  </div>

<button data-modal-close class="modal-button">
              <svg width="11px" height="11px" aria-label="close" class="close">
                  <use href="./images/symbol-defs.svg#vector7"></use>
              </svg>
          </button>


 